<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Missions Near You:</h1>
  </div>
</div>

<div class="row">
  <img src="<%=missions[0].img%>" class="col-xs-4">
  <div style="background:white" class="col-xs-4"></div>
    <img src="<%=missions[1].img%>" class="col-xs-4">

</div>
<div class="row">
     <a href="/mission/<%=missions[0].name%>" class="col-xs-4">
      <h2 class="col text-center"> <%= missions[0].name %> </h2>
    </a>
    <div style="background:white" class="col-xs-4"></div>
      <a href="/mission/<%=missions[1].name%>" class="col-xs-4">
        <h2 class="col text-center"> <%= missions[1].name %> </h2>
    </a>
  </div>
<div class="row">
    <h4 class= "col-xs-4 text-center"> Have you ever wondered what lies under the library you spend half of your college career in? Find out the secrets of UCSD! </h4>
    <div style="background:white" class="col-xs-4"></div>
    <h4 class= "col-xs-4 text-center"> I hope that book taught you the basics of gymnastics becuase you're going to need them for this puzzle! </h4>

</div>

<div class="row">
  <div style="background:white" class="col-xs-4"></div>
  <img src="<%=missions[2].img%>" class="col-xs-4">
</div>

<div class="row">
  <div style="background:white" class="col-xs-4"></div>
  <a href="/mission/<%=missions[2].name%>" class="col-xs-4">
        
      <h2 class="col text-center"> <%= missions[2].name %> </h2>
    </a>
  </div>

<div class="row">
  <div style="background:white" class="col-xs-4"></div>
  <h4 class= "col-xs-4 text-center"> So you found Roger Revelle's secret book of immortality, but you know what they say... curiosity killed the cat! </h4>
</div>


</body>
</html>
